body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header-search {
    margin-right: 30px;
}

.header-search > input {
    width: 300px;
    outline: none;
    border: none;
    background-color: black;
    color: azure;
    font-size: medium;
}

/* https://webdesign.tutsplus.com/ru/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069 */
/* .header-search > input::before {

} */

.header-link {
    margin-left: 30px;
    text-decoration: none;
    color: darkred;
    font-size: x-large;
    font-family: 'Times New Roman', serif;
}

.text-main {
    color: black;
    font-weight: bold;
}

.text-main-white {
    color: whitesmoke;
    font-weight: bold;
}

.text-secondary {
    color: gray;
}

.section-caption {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-caption::after {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    padding-top: 6px;
    left: 50%;
    margin-left: -30px;
    border-bottom: 2px solid darkred;
}

.section-wrapper {
    margin: 0 auto;
    width: 840px;
    margin-bottom: 50px;
}

.section-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-blocks-item-search {
    width: 210px;
    margin: auto;
    position: relative;
}

.section-blocks-item-search::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.section-blocks-item-search-img {
    height: 100%;
    width: 100%;
}

.section-blocks-item-search-description {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.section-blocks-item-artis {
    width: 200px;
    margin: auto;
    padding: 5px;
}

.section-blocks-item-artis::before {
    content: "";
    padding-top: 100%;
    float: left;
}

.section-blocks-item-artis-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.section-blocks-item-artis-link {
    text-decoration: none;
}

.section-blocks-item-artis-description {
    text-align: center;
}

.section-blocks-track-item {
    width: 420px;
    margin: 5px 0px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.section-block-track-item-img {
    width: 100px;
}

.section-blocks-track-item-description {
    margin: auto 10px
}
